{% extends 'base.html.twig' %}

{% block title %}Aleks DC – Développeur web freelance Symfony{% endblock %}
{% block meta_description %}Création de sites vitrines et web-apps performantes en Pays de la Loire et partout en France.{% endblock %}

{% block body %}
    <twig:Header />

    {# Hero #}
    <a id="accueil" class="scroll-anchor" aria-hidden="true"></a>
    {% include 'partials/_hero.html.twig' with { hero: hero } %}

    {# Services #}
    <a id="services" class="relative block h-0 invisible -top-[var(--header-h)]" aria-hidden="true"></a>
    <section>
        {% include 'partials/_services.html.twig' %}
    </section>

    {# Logo cloud (pas dans le menu) #}
    {% include 'partials/_logo_cloud.html.twig' %}

    {# Méthode #}
    <a id="methode" class="relative block h-0 invisible -top-[var(--header-h)]" aria-hidden="true"></a>
    <section>
        {% include 'partials/_process.html.twig' %}
    </section>

    {# Stats #}
    <twig:Stats :items="stats" />

    {# Tarifs #}
    <a id="tarifs" class="relative block h-0 invisible -top-[var(--header-h)]" aria-hidden="true"></a>
    <twig:Pricing :pricing="pricing" />

    {# Avis #}
    <a id="avis" class="relative block h-0 invisible -top-[var(--header-h)]" aria-hidden="true"></a>
    <twig:Testimonials :quotes="testimonials" />

    {# CTA #}
    {% include 'partials/_cta.html.twig' %}

    {# Contact #}
    <a id="contact" class="relative block h-0 invisible -top-[var(--header-h)]" aria-hidden="true"></a>
    <twig:ContactForm />

    <twig:Footer />
{% endblock %}
